body{
    display:flex;
    flex-flow: wrap;
    width: 800px;
    height: 800px;
}
header{
    display: grid;
    grid-template-columns: 187px 187px;
    grid-template-rows: 190px;
    row-gap: 10px;
}
.leeSinPrestigeNightbringer{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    width: 365px;
    height: 180px;
}
.leeSinStormDragonMythicChroma{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 1;
    width: 366px;
    height: 180px;
}
main{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 250px 200px 250px;
    row-gap: 10px;
}
.leeSinAcolyte{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 140px;
    height: 250px;
}
.leeSinStormdragon{
    display: grid;
    grid-column: 5;
    grid-row: 2;
    width: 140px;
    height: 200px;
}
.leeSinDivineHeavenscale{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 290px;
    height: 460px;
}
.leeSinGodFist{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 140px;
    height: 250px;
}
.leeSinDragonFistPearlChroma{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    width: 140px;
    height: 200px;
}
.leeSinDefault{
    display: grid;
    grid-column: 2;
    grid-row: 3;
    width: 140px;
    height: 200px;
}
.leeSinNightbringer{
    display: grid;
    grid-column: 5;
    grid-row: 1;
    width: 140px;
    height: 250px;
}
.leeSinTraditional{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3;
    width: 440px;
    height: 200px;
}
.leeSinMuayThai{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    width: 290px;
    height: 200px;
}